# IDE
.idea
.vscode

# VS Code Java extension
.classpath
.factorypath
.project
org.eclipse.*

# Output directory
/dist/

# Temporary images directory
/img/

# Dependency directories
/node_modules/

# Logs
*.log
npm-debug.log*
